<div>
  <h5>Get to know things as they happen around the globe</h5>
  <div class="news-container">
    <mat-card *ngFor="let article of articles" class="news-card">
      <img mat-card-image [src]="article.image" alt="{{ article.title }}">
      <mat-card-header>
        <mat-card-title>{{ article.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ article.description }}</p>
      </mat-card-content>
      <br>
      <mat-card-content>
        <p>Category: {{ article.category }}</p>
        <p>Author: {{ article.author }}</p>
        <p>Published On: {{ article.published | date:'medium' }}</p>
      </mat-card-content>
        <a [href]="article.url" class="button">Read more</a>
    </mat-card>
  </div>
  <app-stock></app-stock>
</div>
