/* You can add global styles to this file, and also import other style files */
/* src/styles.css */

html {
    background-color: #dbe3e6; /* Replace with your desired color */
    margin: 1; /* Reset default margin */
    padding: 1; /* Reset default padding */
    font-family: Arial, sans-serif; /* Optional: Set a default font */
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
