<!-- About Me Card -->
<div class="container mt-5">
    <div class="card mb-1" style="max-width: 1800px; margin: auto;">
        <div class="row no-gutters">
            <div class="col-md-3">
              <br>
              <div class="card mb-3 shadow-sm">
                <img src="/IMG_20191016_163203.jpg" class="card-img-top img-fluid" alt="Profile Image" style="object-fit: cover; height: 250px;">
              </div>
              <br>
              <div class="card p-3 shadow-sm">
                <h4 class="card-title mb-2 text-dark">Why I Love What I Do</h4>
                <p class="card-text">I am deeply passionate about technology and enjoy solving problems. My continuous learning ensures I stay updated with the latest trends and apply innovative techniques in my work.</p>
              </div>
            </div>
            <div class="col-md-8 offset-md-1">
              <div class="card-body">
                <h5 class="card-title">Hi, I'm Manases Mutembei</h5>
                <p class="card-text"> A passionate and skilled software developer with a strong background in C#, Angular, and SQL. With years of experience in building scalable, and dynamic web applications. I thrive on turning problems into solutions. My journey in technology has been driven by a deep interest in creating flexible and high-performance software that meets user needs and business goals.</p>
                
                <h6 class="card-subtitle mb-2 text-muted">My Skill Set</h6>
                <ul>
                  <li><strong>C# Development:</strong> ASP.NET Core, Entity Framework Core, Design Patterns</li>
                  <li><strong>Angular Development:</strong> Angular Framework, TypeScript, RxJS, Bootstrap, Angular Material and many more</li>
                  <li><strong>SQL Database Management:</strong> Database Design, SQL Server, Performance Optimization</li>
                </ul>
                
                <h6 class="card-subtitle mb-2 text-muted">Professional Experience</h6>
                <p><strong>Software development</strong><br>
                <em>Role:</em> Software developer<br>
                <em>Company:</em> <a href="http://expaq.co.ke/"></a> Expaq Creations<br>
                <em>Duration:</em> Sep 2023 – Present</p>
                <ul>
                  <li>Developed and maintained web applications using ASP.NET Core and Angular.</li>
                  <li>Implemented RESTful APIs and optimized SQL queries for performance.</li>
                  <li>Collaborated with cross-functional teams for high-quality software delivery.</li>
                </ul>
              </div>
            </div>
          </div>
        <h3>Projects I have contributed on include:</h3>
        <app-project></app-project>
        <h3>Let's share on:</h3>
        <app-contact></app-contact>
        <h3>Global News:</h3>
        <app-news-list></app-news-list>
        <app-stock></app-stock>
    </div>
</div>
