/* Custom Styles for the Portfolio */

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

#hero h1 {
    font-size: 3rem;
}

#hero p {
    font-size: 1.5rem;
}

footer .social-links a {
    color: #ee3838;
    text-decoration: none;
}

footer .social-links a:hover {
    color: #ddd;
}
