<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts Page</title>
</head>
<body>
    <div class="contacts-container">
        <div class="contact-card">
            <img src="/twitter.png" alt="Twitter Icon">
            <h3>Twitter</h3>
            <a href="https://x.com/G9teru" target="_blank">Follow me on Twitter</a>
        </div>
        <div class="contact-card">
            <img src="/link.png" alt="LinkedIn Icon">
            <h3>LinkedIn</h3>
            <a href="https://www.linkedin.com/in/manases-mutembei-49b011201" target="_blank">Connect on LinkedIn</a>
        </div>
        <div class="contact-card">
            <img src="/git.jpeg" alt="GitHub Icon">
            <h3>GitHub</h3>
            <a href="https://github.com/manasesmutembei11" target="_blank">Visit my GitHub</a>
        </div>
        <div class="contact-card">
            <img src="/whatsap.png" alt="WhatsApp Icon">
            <h3>WhatsApp</h3>
            <a href="https://wa.me/+254768802661" target="_blank">Message on WhatsApp</a>
        </div>
        <div class="contact-card">
            <img src="/gmail.png" alt="Gmail Icon">
            <h3>Email</h3>
            <a href="mailto:manasesmutembei11@gmail.com" target="_blank">Send me an Email</a>
        </div>
    </div>
</body>
</html>

